In [1]:
import pandas as pd

In [2]:
DATA_PATH = "../../DATA+RESULTS/"
SERVER_COLLECTION_1 = "PMS-SERVER-07-06-2019/"


path = DATA_PATH + SERVER_COLLECTION_1
cleanFile = path + "cleanfile.csv"

In [3]:
dataTable = pd.read_csv(cleanFile)
dataTable.head()

,Unnamed: 0,timestamp,device_id,aqi,temperature,humidity,pm1,pm25,pm10
0,0,2019-03-13 21:59:59,1,129,24.8,41.2,30,47,62
1,1,2019-03-13 22:00:21,1,129,24.8,41.1,30,47,62
2,2,2019-03-13 22:00:43,1,136,24.8,41.1,31,50,66
3,3,2019-03-13 22:01:04,1,136,24.8,41.1,32,50,67
4,4,2019-03-13 22:01:26,1,136,24.8,41.1,32,50,68